html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} 

* {
	font-family: 'Open Sans', sans-serif;
}

ul
{
	list-style-type: none;
}

hr{
	border: 1px dotted #F0F0F0;
}

a:link {
    text-decoration: none;
    color: #91e8fb;
}

a:visited {
    text-decoration: none;
    color: #91e8fb;
}

a:hover {
    text-decoration: none;
    color: #91e8fb;
}

a:active {
    text-decoration: none;
    color: #91e8fb;
}
#credits ul
{
	position:inline-block;
	float:left;
	margin-right:10px;
	color:#f0f0f0;
	font-weight:200;
	font-size:14px;
}

.hline{
	height:3px;
	background-color:#C5EFF7;
}

.header {
	background-color: #F0FFFF; /* 145,232,251 */
	height:80px;
	padding:10px;
}
.jumbo {
	font-size: 18px;
	color:white; 
	margin-top: 40px;
	padding:20px;
	height:400px;
	width:920px;
	background-image: url("jumbo_bg.svg");

}
#footer{
	margin-top:500px;
	background-color:#c0c0c0;
	height:200px;
}
.buffer{
	height:150px;
}

.jumbo_inner{
	color:#777777;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 2px #91e8fb;
	padding:30px;
	font-weight: 900;
	height:120px;
	width:430px;
	position:relative;
	top: 100px;
	margin-left:60px;
	border-radius:2px;
}

.header_content{
	clear:both;
	height:70px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

.drop_shadow{
	background-color: #F0F0F0; /* 145,232,251 */
	height:250px;
	padding-top:10px;
}

.main {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#query_text{
	padding:10 20 10 20px;
	margin-top: 10px;
	border: 1px solid #eaeaea;
	background-color: rgba(255,255,255,0.9);
	font-weight:300;
	font-size:18;
	text-decoration:none;
	width:300px;
	border-radius:2px;
	box-shadow: 0px 0px 2px #91e8fb;
}

#submit{
	padding:10 25 10 25px;
	background-color:#91e8fb;
	margin-left: 10px;
	font-weight:300;
	font-size: 18px;
	color:white;
	border: 0px solid white;
	text-decoration:none;
	border-radius:2px;
	box-shadow: 0px 0px 1px #ffffff;
}

#tweets{
	float:left;
	color:#888888;
	background-color: white;
	padding:5px;
	width:160px;
	height:530;
	border:1px;
	border-radius:2px solid #FFFFFF;
	position:inline-block;
} #tweets li{
	font-weight:200;
	font-size:14px;
	margin:10px;
}